body {
    background: silver; 
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
}

.content-box {
	background: darkgrey;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #0f144f;
}

.footer {
	margin-top: 15px;
	text-align: center;
}

.footer > a {
	padding: 10px;
    color: #0f144f;
}

.center-column {
	display: flex;
	justify-content: center;
}

nav {
    text-align: center;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #306363;
	color: #cdcdcd;
	background: #0f144f;
	font-size: 1.25rem;
    margin-bottom: 10px;
}

#canvas-wrapper {
    position: relative;
    width: 800px;
    height: 800px;
    display: inline-block;
    border-radius: 10px;
    background: white;
}

#canvas-static {
    position: absolute;
    border-radius: 10px;
}

#canvas-refreshing {
    position: absolute;
    border-radius: 10px;
}

#spiro-control {
    width: 200px;
    display: inline-block;

    vertical-align: top; /* not sure why necessary */
}

#center-lat-long {
    width: 12em;
}

#stator-radius {
    display: block;
}

.rotor .rotor-radius, 
#stator-radius, 
#pen-radius, 
#sample-points,
#start-segment,
#end-segment,
#scale-radius,
#altitude
{
    width: 4em;
    display: block;
}

.rotor {
    display: flex;
    flex-direction: row;
}
.rotor button {
    margin-left: 5px;
}

.delete-rotor {
    color: darkred;
}

#rotors-div {
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    display: block;
}

#output-container {
    margin-top: 20px;
}


